/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {
	font: 13px Helmet, Freesans, sans-serif;
	background: url('../img/dkbluedot2.gif');

	margin: 10px;
	}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

.wrapper
{
	margin: 0 auto; 
	border: 1px solid #0000ff;
	padding: 5px;
	height: 90%;
	width: 90%;

	position:fixed;

	/* Box sizing for side-by-side divs */
/*	width: 50%;
	-moz-box-sizing: border-box;
	box-sizing: border-box; */

	/* Allows resizing of container by user */
	resize: both;
    overflow: auto;

/*
    background: rgba(51,51,51,0.7);
    z-index: 10;
   */

/*	position: fixed;
	height: 100%;
	width: 100%; */
	left: 5%;
	top: 5%; 
}

/* NAVIGATION */

.navigation
{
	border: 1px solid #0000ff;

	/*flex code - navigation child of wrapper*/
/*	width: 30%;
	height: 100%;
	margin: auto; *//*fills in space in flex container*/

	width: 30%;
	height: 80%;
	float: left;
	position:relative;

	padding: 10px;
}

.navigation_child
{
	border: 1px solid #0000ff;

	width: 50%;
	height: 50%;

	/* positioned relative to first ancestor that 
	isn't static, so navigation div. This helps 
	to move it around inside the div, having 
	the outer div as a relation. then bottom and 
	right are used to move div relative to outer 
	div. */
	position: absolute;
	bottom: 5px;
	right: 5px; 

	clear: both; /*so no other divs float around it*/

}

    .navigation_child a
    {
        position: relative;
        display: inline-block;
        color: #ffffff;
        width: 1em;
        height: 1em;
        line-height: 0.9em;
        text-decoration: none;
        font-size: 20px;
        border: 1px solid #0000ff;
    }

.main
{
	border: 1px solid #0000ff;
	width:70%;
	height:80%;
	float: right;
	position: relative;
}

.header
{
	border: 1px solid #0000ff;
	height: 10%;

}

.footer
{
	border: 1px solid #0000ff;
	height: 10%;
	
}

/*class for eliminating wrap-around effect of floating divs*/
.clear { clear: both; }

@media all and (min-width: 800px) {

}

/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
	
		
}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}






/* TO-DO */
/*black opaque backgrounds for div tables*/
/*slide action from right to left*/
/*Asynchronously load html pages this way*/
___________________________
|_________________________|
____________  ____________
|           | |           |
|           | |           |
|           | |           |
|           | |           |
|___________| |___________|

___
|  |
|  |
|  |
|  |
|  |
|__|