/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {
/*	font: 13px Helmet, Freesans, sans-serif;  */
	font: 13px "Times New Roman", Times, serif;
	background: url('../img/dkbluedot2.gif');

	margin: 10px;
	}

/*::-webkit-scrollbar              { background-color: #333; }
::-webkit-scrollbar-button       { background-color: #666666; background-image: ; }
::-webkit-scrollbar-track        { border-radius: 1px; -webkit-box-shadow: inset 0 0 6px rgba(0, 47, 63, 0.5); }
::-webkit-scrollbar-track-piece  { background-color: #191919; }
::-webkit-scrollbar-thumb        { background-color: #002f3f; }
::-webkit-scrollbar-corner       { }
::-webkit-resizer                { } */

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #ffffff;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #191919; color: #fff; text-shadow: none;}
::selection {background: #191919; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

/*
@font-face {
	font-family: instruction;
	src: url('../font/instruction/Instruction.ttf');
}  */

.wrapper
{
	margin: 0 auto; 
	padding: 5px;
	height: 80%;
	width: 80%;

	position:fixed;

	/* Box sizing for side-by-side divs */
/*	width: 50%;
	-moz-box-sizing: border-box;
	box-sizing: border-box; */

	/* Allows resizing of container by user */
/*	resize: both; */
/*    overflow: auto;*/

/*
    background: rgba(51,51,51,0.7);
    z-index: 10;
   */

/*	position: fixed;
	height: 100%;
	width: 100%; */
	left: 2%;
	top: 10%; 

	/*h-shadow v-shadow blur spread color*/
/*	box-shadow: 0px 0px 20px 0px #000000 */
}

.about_wrapper
{
	margin: 0 auto;
	padding: 5px;
	position: relative;
	overflow: auto;
	width: 100%;
	height: 100%;
}

/* NAVIGATION */

.secondary
{
	/*flex code - navigation child of wrapper*/
/*	width: 30%;
	height: 100%;
	margin: auto; *//*fills in space in flex container*/

	width: 30%;
	height: 80%;
	float: left;
	position:relative;

	padding: 10px;
}

	.secondary_info
	{
		width: 40%;
		height: 68%;

		position:absolute;
		top:0px;
		right:0px;
		clear:both;
		padding: 0px;
		text-align:left;
	}

		.secondary_label
		{

			height: 10%;
			width: 100%;

			font-family: "Times New Roman", Times, Sans-serif;
			font-size: 20px;
			color: #002f3f;
			text-align: center;
	/*		font-weight: bold;*/
		}

		.secondary_personal
		{
			width: 100%;
			height: 80%;
			padding: 5px;
		}

		.secondary_resume
		{
			width: 100%;
			height: 10%;

			font-family: "Times New Roman", Times, serif;
			font-size: 19px;
			color: #002f3f;
			text-align: center;
			letter-spacing: -2px;
			line-height: 1.3em
		}

.nav
{
	width: 40%;
	height: 32%;

	/* positioned relative to first ancestor that 
	isn't static, so navigation div. This helps 
	to move it around inside the div, having 
	the outer div as a relation. then bottom and 
	right are used to move div relative to outer 
	div. */
	position: absolute;
	bottom: 0px;
	right: 0px; 

	clear: both; /*so no other divs float around it*/

	padding: 5px;

	text-align: right;
}

    .nav a
    {
        position: relative;

/*
		position: absolute;
		right: 0;
		bottom: 0;
*/

        display: inline-block;
        color: #ffffff;
    /*    width: 1em;
        height: 1em; */


        line-height: 0.9em;
        text-decoration: none;
        font-size: 20px;

        font-family: ;
    }

    .nav input
	{
		position: relative;
		display: inline-block;
		color: #ffffff;
		background-color: transparent;
		text-decoration: none;
		border: none;
		font-size: 20px;
		font-family: "Times New Roman", Times, serif;
		line-height: 0.9em;
	}

.nav_links
{
	display: inline-block;
	position: absolute;
	bottom: 10px;
	right: 0px; 
}

	.nav_links a 
	{
		color: #002f3f;
		font-family: ;
	}

	.nav_links p
	{
		color: #002f3f;
	}

	.nav_links input
	{
		color: #002f3f;
		position: relative;
		display: inline-block;
		background-color: transparent;
		border: none;
		font-size: 20px;
		font-family: "Times New Roman", Times, serif;
		line-height: 0.9em;
		text-align: right;
		text-decoration: none;
	}

.default_contact
{
	position:absolute;
	width:50%;
	height:50%;

	top: 25%;
	left: 25%;

	margin: auto; 
	padding: 20px;

	overflow: none;

	text-align: center;
}

	.default_contact a
	{
		text-decoration: none; /*Gets rid of underline between images*/
	}

.default_welcome
{
	position: absolute;
	font-size: 40px;
/*	font-weight: bold;*/
	color: #002f3f;
/*		text-shadow: 0px 0px 2px #ffffff;*/
/*	top: -60px;
	left: 225px;*/
	font-family: "Times New Roman", Times, serif;
/*		font-family: "Courier New", Courier, monospace;*/
	right: 5px;
	bottom: 0px;
}

.main
{
	width:70%;
	height:80%;
	float: right;
	position: relative;
	padding: 10px;

	overflow-x: hidden;
	overflow-y: auto;
}

.header
{
	height: 10%;
	padding: 0px;
}

/*	.header_label
	{
		position: relative;
		float: right;

		margin: 0px;

		height: 50%;
		width: 10%;

		right: 0px;
		bottom: 0px;

		font-family: "Times New Roman", Times, serif;
		font-size: 20px;
		color: #002f3f;
		text-align: center;
/*		font-weight: bold;*/
	}*/

.footer
{
	height: 10%;
	padding: 5px;	
}

/*class for eliminating wrap-around effect of floating divs*/
.clear { clear: both; }

.white_bg
{
	background-color: #ffffff;
}

.black_bg
{
	background-color: #000000;
}

.navyblue_bg
{
	background-color: #002f3f;
}

.blue_bg
{
	background-color: #0000ff;
}

.blk_opbg
{
	background: url('../img/blkdiv.png');
	background-repeat: repeat;
}

.border_1px
{
	border: 1px solid #002f3f;
}

.border_1px_blk
{
	border: 1px solid #000000;
}

.border_1px_wt
{
	border: 1px solid #ffffff;
}

#name_link
{
	color: #ffffff;
}

.aboutpic
{
	background: url('../img/chris2.png');
	background-color: #000000;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;


/*	width: 270px;
	height: 480px;*/

/*	width: 202.5px;
	height: 360px;*/

	width: 30%;
	height: 94%;
	
/*	margin: 0 auto;*/
	padding: 10px;
	margin: 0 auto;
	position: relative;
	float: left;
	top: 4%;
	left: 4%;
}

.aboutinfo
{
	position: relative;
	float: right;

	/*margin: 0 auto;*/
	margin: 1% 1%;
	padding: 5px;

	width: 60%;
	/*height: 91%;*/
}

.aboutinfo p
{
	padding: 40px;
}

.portfolio_school /*MAIN width: 70%; keep these two divs widths within those confines*/
{
	position: relative;
	float: left;
	width: 48%;  /* Consider shortening and aligning divs properly*/
	height: 100%; /* 80% of MAIN container in index*/
	margin: 0 auto; 
	padding: 0px;

	overflow: hidden;
}

.portfolio_personal
{
	position: relative;
	float: right;
	width: 48%; /* Consider shortening and aligning divs properly */
	height: 100%; /* 80% of MAIN container in index*/
	margin: 0 auto; 
	padding: 0px;

	overflow: hidden;
}

	.portfolio_title
	{
		font-size: 25px;
		line-height: 2em;
/*		color: #002f3f;*/
		color: #ffffff;
		text-align: right;
		letter-spacing: 2px;
	}

	.portfolio_contents
	{
		margin: auto;
		text-align: left;

		overflow-x: hidden;
		overflow-y: auto;

		position: relative;
		width: 95%;
		height: 88%;

		padding: 5px;
	}

		.portfolio_contents h1 /*Names of projects*/
		{

		}

		.portfolio_contents p /*Descriptions of projects*/
		{

		}

		.portfolio_contents a /*Links to git repos for projects*/
		{

		}

.no_overflow
{
	overflow: hidden;
}

/* Scrollbar customization */
/* Works in Chrome, Safari, Opera, Android, iOS. */
/* Does not work in Firefox and IE */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Thumb */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,47,63,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,47,63,0.4); 
}

@media all and (min-width: 800px) {

} 

/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
	
		
}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}






/* TO-DO */
/*black opaque backgrounds for div tables*/
/*slide action from right to left*/
/*Asynchronously load html pages this way*/
___________________________
|_________________________|
____________  ____________
|           | |           |
|           | |           |
|           | |           |
|           | |           |
|___________| |___________|

___
|  |
|  |
|  |
|  |
|  |
|__|